<div id="flashcard-body">

	<link rel="stylesheet" href="dist/css/flashcard.css">

	<div id="flashcard-display" tabindex="0" ng-keyup="keyCard($event)" ng-hide="!view.display">

		<div id="flashcard-display-main">

			<div id="flashcard-left-arrow" class="flashcard-arrow" ng-click="nextCard()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></div>

			<div class="flashcard-display-flashcard" ng-class="flipped ? 'flipped' : ''" ng-click="flipCard()" animate-on-change="currentIndex">
				<div class="flashcard-front">
					<div class="flashcard-top-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>

					<div class="flashcard-front-text flashcard-text"><div>{{flashcards[randomIndexes[currentIndex]].frontText}}</div></div>
				</div>

				<div class="flashcard-back">
					<div class="flashcard-back-text flashcard-text"><div>{{flashcards[randomIndexes[currentIndex]].backText}}</div></div>
				</div>
			</div>

			<div id="flashcard-right-arrow" class="flashcard-arrow" ng-click="prevCard()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>

		</div>

		<div id="flashcard-shuffle-button"><button class="flashcard-display-button general-button" ng-click="shuffleCards()"><i class="fa fa-random" aria-hidden="true"></i> Shuffle!</button></div>
	</div>

	<div id="flashcard-modify" ng-hide="!view.modify">

		<div id="flashcard-modify-existing-container">
			<div id="flashcard-modify-existing">
				<div class="flashcard-modify-containers" ng-repeat="flashcard in flashcards">
					<div class="flashcard-modify-containers-containers">
						<div class="flashcard-modify-front">
							<div class="flashcard-top-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-middle-line" ></div>
							<div class="flashcard-modify-input"><textarea onfocus="this.select()" ng-model="flashcard.frontText" ng-blur="updateFlashcard(flashcard)" ng-keyup="blurField($event)"></textarea></div>
						</div>
						<div class="flashcard-modify-back">
							<div class="flashcard-modify-input"><textarea onfocus="this.select()" ng-model="flashcard.backText" ng-blur="updateFlashcard(flashcard)" ng-keyup="blurField($event)"></textarea></div>
						</div>
						<div class="flashcard-modify-delete" ng-click="deleteFlashcard(flashcard)"><i class="fa fa-trash" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</div>

		<div id="flashcard-modify-new">
			<div class="flashcard-modify-containers-containers">
				<div class="flashcard-modify-front">
					<div class="flashcard-top-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-middle-line" ></div>
					<div class="flashcard-modify-input"><textarea onfocus="this.select()" ng-model="frontText"></textarea></div>
				</div>
				<div class="flashcard-modify-back">
					<div class="flashcard-modify-input"><textarea onfocus="this.select()" ng-model="backText"></textarea></div>
				</div>
				<button id="flashcard-add-button" class="flashcard-modify-button general-button" ng-click="createFlashcard()"><i class="fa fa-plus-square" aria-hidden="true"></i>Create Flashcard</button>
			</div>
		</div>
	</div>

	<div id="flashcard-toolbar">
		<button id="flashcard-display-button" class="flashcard-functionality-button general-button" ng-click="displayViewChange()">Do Your Flashcards</button>
		<button id="flashcard-modify-button" class="flashcard-functionality-button general-button" ng-click="modifyViewChange()">Modify Your Flashcards</button>
	</div>

</div>