<div class="jumbotron text-center">
	<link rel="stylesheet" href="dist/css/home.css">


    <img src="img/backleg.jpg">
    <img src="img/beauty.jpg">
    <img src="img/brahan.png">
    <img src="img/cassy.png">
    <img src="img/ccpumpkin.jpg">
    <img src="img/chins.jpg">
    <img src="img/chubby-chekkey.jpeg">
    <img src="img/cop.jpeg">
    <img src="img/god.jpg">
    <img src="img/jelley-swap.jpg">
    <img src="img/jovin.png">
    <img src="img/kayak.jpg">
    <img src="img/kyler-swap.jpg">
    <img src="img/larry.jpg">
    <img src="img/no-nose.png">
    <img src="img/nurse-joy.jpg">
    <img src="img/nurse-legup.jpg">
    <img src="img/nurse-plain.jpg">
    <img src="img/ponder.jpg">
    <img src="img/rickkin.jpg">
    <img src="img/sexy.jpg">
    <img src="img/sosilly.jpg">
    <img src="img/tree-peen.png">
    <img src="img/tyler.png">
    <img src="img/unknowingly.png">

</div>