<div class="home">
	<link rel="stylesheet" href="dist/css/home.css">
    <div class="home-container">

        <div class="picture-frame">

            <div class="polaroids">

                <div ng-repeat="picture in pictures" class="polaroid {{getIndexByPicture(picture) === focusedPicture  ? 'focused' : ''}}" onclick="this.focus()" ng-click="pictureClick(picture)" ng-blur="pictureBlur()" tabindex="1">
                    <p>{{picture.comment}}</p>
                    <img src="{{picture.url}}">
                </div>

            </div>

            <div class="blackout {{focusedPicture == -1 ? '' : 'blackout-true'}}" ></div>

        </div>
    </div>
</div>