<div class="jumbotron text-center">
    <h1>One hell of a list</h1>
    
    <div class="checkbox-container" ng-repeat="list in lists">
    	<input class="checkbox-box" ng-model="list.done" id="{{list._id}}" type="checkbox">
    	<label class="checkbox-label" for="{{list._id}}">{{list.what}}, {{list.why}}</label>
    </div>


    <input type='text' ng-model='listWhat'>
    <input type='text' ng-model='listWhy'>

    <button ng-click='newList()'>Add Task</button>
    

    <button ng-click='removeDone()'>Remove Finished Tasks</button>
</div>